p {
  text-align: justify;
}

.kurziva {
  font-style: italic;
}

h1, h2 {
  text-align: center;
}

sup {
  color: gray;
  font-size: xx-small;
}

.poznamka {
  text-decoration: underline;
}

.poezie {
  margin-top: 24px;
  margin-bottom: 24px;
}