body {
  line-height: 1.2;
}

body * {
  line-height: inherit;
}

p {
  text-align: justify;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-variant: small-caps;
  color: rgb(153, 0, 0);
}

h3, h4, h5, h6 {
  text-align: left;
}

sub {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: sub;
  vertical-align: -20%;
  color: rgb(150, 150, 150);
}

sup {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 35%;
  color: rgb(150, 150, 150);
}

.poznamka {
  text-decoration: underline;
}

.poezie {
  margin: 1em;
}

.zlomit-za {
  page-break-after: always;
  break-after: always;
}

.poezie > p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

table {
  margin-top: 1em;
  margin-left: 1em; 
  border-collapse: separate;
  border-spacing: 30px 0;
}

th {
  text-align: left;
}